.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  /* gap: 20px; */
  /* padding: 20px 0 0; */
}

.form__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.form__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  margin: 5px 0 0;
}

.form__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 0;
}

.form__label {
  margin: 20px 0 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  display: inline-block;
  width: 100%;
}

.form__input {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--main-color);
  color: var(--main-color);
  width: 100%;
  box-sizing: border-box;
}

.form__input_type_textarea {
  resize: none;
}

.form__input_type_radio {
  margin: 0 5px 0 0;
  width: auto;
}

.form__label_type_wrap {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__label_type_wrap > .form__label {
  margin: 0;
}

.form__fieldset {
  margin: 50px 0 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
/* 
.form__fieldset:last-of-type {
  margin-bottom: 50px;
} */

.form__wrap {
  display: flex;
  gap: 20px;
}

.form__btn {
  border: 1px solid;
  margin: 50px 0 0;
  padding: 10px 20px;
  max-width: 200px;
  width: 100%;
}
