.catalog {
  margin: 0 auto;
  padding: 120px 0 0;
  max-width: 1140px;
  width: 89%;
}

.catalog__list {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: repeat(2, 320px);
  grid-auto-flow: row;
  grid-auto-rows: 320px;
  gap: 50px;
  justify-content: space-between;
}

.catalog__link {
  background-color: var(--bg-dark-color);
  height: 100%;
  display: block;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
}

.catalog__name {
  color: var(--main-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

.catalog__preview {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 225px;
}

@media screen and (max-width: 1024px) {
  .catalog {
    padding-top: 100px;
  }

  .catalog__list {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 768px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-auto-rows: 250px;
    gap: 10px;
  }

  .catalog__item {
    width: 100%;
  }

  .catalog__name {
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: -0.5px;
    width: 130px;
  }

  .catalog__preview {
    max-width: 105%;
    max-height: 200px;
    transform: translate(-50%, -48%);
  }
}
