.catalog {
  margin: 0 auto;
  padding: 121px 0 0;
  max-width: 1140px;
  width: 89%;
}

.catalog__list {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 176px);
  /* grid-template-columns: repeat(auto-fill, minmax(176px, 1fr)); */
  grid-template-rows: repeat(2, 304px);
  grid-auto-flow: row;
  grid-auto-rows: 304px;
  gap: 50px;
  justify-content: center;
  /* justify-content: space-between; */
}

.catalog__link {
  background-color: var(--bg-dark-color);
  height: 100%;
  display: block;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
}

.catalog__name {
  color: var(--main-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

.catalog__preview {
  position: absolute;
  top: 57%;
  left: 48.5%;
  transform: translate(-49%, -50%);
  max-width: 235px;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .catalog {
    padding-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-auto-rows: 250px;
    gap: 10px;
  }

  .catalog__name {
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: -0.5px;
    width: 130px;
  }

  .catalog__preview {
    max-width: 105%;
    max-height: 200px;
    transform: translate(-50%, -48%);
  }
}
