.about {
  max-width: 1140px;
  width: 89%;
  margin: 0 auto;
  display: flex;
  gap: 70px;
  box-sizing: border-box;
}

.about__container {
  box-sizing: border-box;
}

.about__container:first-of-type {
  background-color: var(--dark-color);
  max-width: 630px;
  width: 100%;
  height: 100%;
  padding: 40px;
  color: var(--main-color);
  margin-top: -80px;
}

.about__container:last-of-type {
  max-width: 395px;
  width: 100%;
  max-height: 230px;
  height: 100%;
  margin: 70px 0 0;
}

.about__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.about__bold {
  font-weight: 500;
}

.about__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  margin: 0 0 20px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    gap: 27px;
    height: 100%;
  }

  .about__container:first-of-type {
    padding: 10px 23px;
    margin-top: -40px;
    max-width: 97.5%;
  }

  .about__container:last-of-type {
    margin: 0;
    padding: 0;
    width: 68%;
    align-self: flex-end;
    max-height: 460px;
  }

  .about__text {
    font-size: 11px;
  }

  .about__title {
    font-size: 15px;
    max-width: 190px;
    margin-bottom: 10px;
  }
}
