.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.form__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.form__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 10px 0 0;
}

.form__link {
  color: var(--black-color);
  border-bottom: 1px solid var(--black-color);
  /* color: var(--main-color);
  border-bottom: 1px solid var(--main-color); */
}

.form__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 0;
}

.form__label {
  margin: 15px 0 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  display: inline-block;
  width: 100%;
}

.form__input {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--bg-dark-color);
  color: var(--black-color);
  width: 100%;
  box-sizing: border-box;
}

.form__input_type_textarea {
  resize: none;
}

.form__input_type_radio {
  margin: 0 5px 0 0;
  width: auto;
}

.form__label_type_wrap {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__label_type_wrap > .form__label {
  margin: 0;
}

.form__fieldset {
  margin: 15px 0 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.form__wrap {
  display: flex;
  flex-direction: column;
}

.form__btn {
  width: 100%;
  max-width: 280px;
  margin: 50px 0 0;
  padding: 10px 20px;
  border: 1px solid var(--dark-color);
  background-color: rgba(0, 0, 0, 0);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.form__btn_type_disabled:hover {
  color: var(--black-color);
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
}

.form__container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.form__error {
  color: var(--error-color);
  /* margin: 0 0; */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .form__btn {
    max-width: 100%;
  }
}
