.collection__item {
  background-color: var(--bg-card-light);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0;
  box-sizing: border-box;
}

.collection__model-name {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  margin: 18px 0 0 10px;
}

.collection__model-name_type_accent {
  font-weight: 300;
}

.collection__params {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0;
  width: 100%;
  color: var(--dark-color);
  box-sizing: border-box;
}

.collection__param {
  margin: 0;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
}

.collection__param-name {
  font-weight: 500;
}

.collection__model-img {
  width: 100%;
  object-fit: contain;
  max-height: 203px;
  margin: 0 auto;
}

.collection__prices {
  margin: 19px 0 0 10px;
}

.collection__sale {
  border-radius: 6px;
  background-color: var(--error-color);
  color: var(--bg-card-light);
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  padding: 2px;
  max-width: 50px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 0 2px;
}

.collection__new-price {
  color: var(--dark-color);
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.collection__old-price {
  color: var(--old-text);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-decoration: line-through;
  margin: 0;
}

.collection__btn {
  width: 100%;
  max-width: 175px;
  border-radius: 10px;
  padding: 6px;
  color: var(--dark-color);
  text-transform: uppercase;
  text-align: start;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 0 10px;
}

.collection__btn:hover .collection__svg {
  stroke: #fff;
  transition: stroke 0.6s ease;
}

.collection__btn_type_premium {
  background-color: var(--dark-color);
  color: var(--main-color);
}

@media screen and (max-width: 1024px) {
  .collection__model-img_type_align-right {
    max-width: 250px;
    transform: translate(10%, -50%);
  }

  .collection__prices {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .collection__model-name {
    margin: 0 0 0 5px;
    font-size: 14px;
  }

  .collection__params {
    margin: 0;
    padding: 0 5px;
  }

  .collection__prices {
    margin-left: 5px;
  }

  .collection__sale {
    font-size: 16px;
  }

  .collection__new-price {
    font-size: 25px;
  }

  .collection__old-price {
    font-size: 15px;
  }

  .collection__btn {
    width: 100%;
    max-width: 127px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin-left: 5px;
  }

  .collection__btn svg {
    display: none;
  }
}
