.collection {
  margin: 80px auto 0;
  width: 100%;
}

.collection__subtitle {
  max-width: 1140px;
  width: 89%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  padding: 0;
  color: #1e1e1e;
  border-bottom: 2px solid #1e1e1e;
  padding: 0 0 5px;
}

.collection__container_type_premium {
  background-color: #bebebe;
  max-width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.collection__list {
  list-style: none;
  max-width: 1140px;
  width: 89%;
  display: grid;
  width: 89%;
  grid-template-columns: repeat(4, 180px);
  grid-template-rows: repeat(1, 380px);
  grid-auto-flow: row;
  grid-auto-rows: 380px;
  justify-content: space-between;
  row-gap: 50px;
  padding: 0;
  margin: 40px auto 0;
}

.collection__list_type_premium {
  padding: 50px 0;
}

.collection__list_type_horizontal {
  grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
  grid-template-rows: repeat(1, 260px);
  grid-auto-rows: 260px;
  column-gap: 84px;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .collection__list {
    grid-template-columns: repeat(3, 180px);
    justify-content: space-around;
  }

  .collection__list_type_horizontal {
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    column-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .collection__list {
    /* grid-template-columns: repeat(auto-fill, minmax(135px, 220px)); */
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  .collection__list_type_horizontal {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(1, 360px);
    grid-auto-rows: 360px;
  }
}
