.feedback {
  background: url("../../images/feedback-bg.png") no-repeat center;
  background-position: 0% 0%;
  background-size: 100% auto;
  width: 100%;
  height: 1060px;
  margin: 150px auto 0;
  padding: 0 0;
}

.feedback__container {
  margin: 0 auto;
  padding: 120px 0 0;
  max-width: 1140px;
  width: 89%;
  display: flex;
  justify-content: flex-end;
}

.feedback__wrapper {
  max-width: 750px;
  width: 65%;
}

.feedback__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  margin: 0 0 40px;
  color: var(--main-color);
}

.feedback__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  color: var(--main-color);
}

.feedback__form {
  max-width: 734px;
  width: 100%;
  margin: 50px 0;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedback__label {
  width: 100%;
}

.feedback__input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid var(--main-color);
  padding: 10px 5px;
  color: var(--main-color);
  width: 100%;
  box-sizing: border-box;
}

.feedback__input:focus {
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--main-color);
}

.feedback__input::placeholder {
  color: var(--main-color);
}

.feedback__input-error {
  font-size: 12px;
  color: var(--error-color);
  margin: 0;
  transform: translateY(-100%);
}

.feedback__option {
  color: var(--dark-color);
  padding: 100px;
}

.feedback__wrapper-bottom {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin: 30px 0 0 auto;
}

.feedback__btn {
  max-width: 300px;
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  margin: 100px 0 0 auto;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
}

.feedback__btn_type_disabled:hover {
  cursor: default;
  background-color: rgba(0, 0, 0, 0);
  color: var(--main-color);
}

.feedback__label_type_bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.feedback__checkbox {
  width: 20px;
  height: 20px;
}

.feedback__span {
  font-weight: 100;
  font-size: 12px;
  line-height: 1.3;
}

.feedback__link {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding: 0 0 1px 0;
}

@media screen and (min-width: 1600px) {
  .feedback {
    background-position: 0% 30%;
    height: 1260px;
  }
}

@media screen and (max-width: 1310px) {
  .feedback {
    background-position: 0% 0%;
    height: 900px;
  }

  .feedback__container {
    padding-top: 80px;
  }

  .feedback__wrapper {
    width: 70%;
  }

  .feedback__title {
    margin-bottom: 20px;
  }

  .feedback__text {
    font-size: 18px;
  }

  .feedback__form {
    margin: 20px 0;
  }

  .feedback__wrapper-bottom {
    margin-top: 0%;
  }

  .feedback__btn {
    font-size: 25px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .feedback {
    margin-top: 100px;
    height: 800px;
    background-position: 100% 0%;
    background-size: 112% auto;
  }

  .feedback__container {
    padding-top: 50px;
  }

  .feedback__wrapper {
    width: 80%;
  }

  .feedback__title {
    margin-bottom: 20px;
  }

  .feedback__text {
    font-size: 18px;
  }

  .feedback__form {
    margin: 20px 0;
  }

  .feedback__wrapper-bottom {
    margin-top: 0%;
  }

  .feedback__btn {
    margin-top: 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 810px) {
  .feedback {
    background: url("../../images/feedback-bg-mobile.png") no-repeat center;
    height: 680px;
    background-position: 10% 0%;
    background-size: 102% 102%;
  }

  .feedback__container {
    padding-top: 80px;
  }

  .feedback__wrapper {
    width: 100%;
  }

  .feedback__text {
    font-size: 15px;
  }

  .feedback__form {
    margin-bottom: 0;
  }

  .feedback__btn {
    font-size: 20px;
    margin-top: 70px;
  }
}
