:root {
  --main-color: #d9d9d9;
  --dark-color: #1e1e1e;
  --bg-dark-color: #424242;
  --bg-card-light: #f0f0f0;
  --bg-light: #919191;
  --bg-active-color: #2964a0;
  --bg-btn-color: #a1a1a1;
  --error-color: #e51a24;
  --label-color: #8f8f8f;
  --border-bottom: #c3c3c3;
  --old-text: #a7a7a7;
  --black-color: #000;
}
